@media (max-width: 1200px) {  }

@media (max-width: 992px) {  }

@media (max-width: 768px) {  }

@media (max-width: 576px) {
    .form-group {
        display: block;
    }

    .form-control {
        width: 100%;
    }

    .container_form {
        width: 95%;
    }
    .password_mismatch {
        top: 70px;
    }
    .container_form_enter,
    .container_form_register {
        width: 300px;
    }
    .container, .container-md, .container-sm {
        max-width: 100% !important;
    }
}



